<div class="bc-keypad">

  <div class="bc-keypad__key" data-ng-repeat="number in ::vm.numbers track by number">
    <md-button class="md-raised bc-keypad__key-button " data-ng-click="vm.setNumber(number)" aria-role="{{ ::number }}">
      {{ ::number }}
    </md-button>
  </div>


  <div class="bc-keypad__key  bc-keypad__key--left">
    <ng-include src="vm.keyTemplate(vm.bcLeftButton, 'Left')"></ng-include>
  </div>


  <div class="bc-keypad__key  bc-keypad__key--center">
    <md-button class="md-raised bc-keypad__key-button " data-ng-click="vm.setNumber(vm.lastNumber)">
      {{ ::vm.lastNumber }}
    </md-button>
  </div>


  <div class="bc-keypad__key  bc-keypad__key--right">
    <ng-include src="vm.keyTemplate(vm.bcRightButton, 'Right')"></ng-include>
  </div>

</div>